/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

img{
    max-width: 100%;
}

/* Utilities */

.float{
    float: left;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.pos-relative{
    position: relative;
}

.w20{
    width: 20%;
    height: 60px;
}

.w60{
    width: 60%;
    height: 60px;
}

.w50{
    width: 50%;
}

.row{
    max-width: 1000px;
    margin: 0 auto;    
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

/* Button's Utilities  */

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: darkblue;
}

.small-btn{
    padding: 4px 15px;
    border-radius: 14px;
    display: inline;
}

.large-btn{
    padding: 8px 25px;
    border-radius: 25px;
    display: inline;
}

a.light-btn{
    background-color: white;
}

a.dark-btn{
    background-color: rgb(20, 20, 20);
    color: white;
}

a.dark-btn:hover{
    color:darkblue;
}

/* TOP Header */

.top-bar{
    height: 60px;
    line-height: 60px;
    background-color: rgb(37,94,233);
}

.top-bar .logo{
    vertical-align: middle;
}

/* Top-Header's NAV */

.top-bar nav li{
    display: inline;
    margin: 0 10px;
}

.top-bar nav li a{
    text-decoration: none;
    color: white;
}

.top-bar nav li a:hover{
    text-decoration: underline;
}

/* Jumbotron  */

.jumbotron{
    position: relative;
}

.jumbotron .container{
    height: 500px;
    background-image: url(img/jumbo.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron .header-text{
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.jumbotron .header-text p{
    margin: 40px 0;
    line-height: 25px;
}

.jumbotron a{
    margin: 0 10px;
}

/* MAIN */

.left-col, .right-col{
    height: 100vh;
    line-height: 100vh;
}

.fullpage{
    height: 100vh;
    padding-top: 150px;
}

.main-img{
    vertical-align: middle;
}

.main-img .right-attach{
    position: absolute;
    right: 0;
}

.main-img .left-attach{
    position: absolute;
    left: 0;
}

.big-img-cont{
    padding: 30px 0;
}

.main-text-box{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: normal;
    color: rgb(20, 20, 20);
}

.main-text-box h2, .main-text-fullpage h2{
    font-size: 32px;
    line-height: 35px;
    font-weight: 800;
}

.main-text-box p, .main-text-fullpage p{
    padding: 20px 0;
}

.main-text-fullpage{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: normal;
    color: rgb(20, 20, 20);
}
}